//sources:
// cssgradient.io for gradient colors
// Google Fonts for fonts 
//for texts: Montserrat weight: 200, for titles: weight: 500, index big title: weight; 500 italic
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,500&display=swap');

//shadow generator: https://cssgenerator.org/box-shadow-css-generator.html

//technologies: html, scss, javascript, threejs

body {
    margin:0;
    font-family: 'Montserrat';
    background-color: black;
}
.logo-name{
    font-weight: 500;
}

//General sets

header{
    height: 120px;
}

.txtAbout{
    display: block;
    color: white;
}

//mobile first setup css

@media (max-width: 850px) {
    .drop-nav-btn{
        display: block;
    }

    .fullscreen-navbar{
        display: none;
    }

    .logo{
        position:absolute;
        top:40px;
        left:20px;
    }

    /* Dropdown Button */
.dropbtn {
    background-color:greenyellow;
    color: black;
    padding: 16px;
    font-size: 1rem;

    border: none;
    border-radius: 3%;

    cursor: pointer;
  }
/* Dropdown button on hover & focus */
.dropbtn:hover{
    background-color: #2980B9;
  }
/* The container <div> - needed to position the dropdown content */
.drop-nav-btn {
    position: absolute;
    top:30px;
    right: 20px;
    display: inline-block;
  }
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu*/
  .show {display:block;}

  .index-title{
    color: greenyellow;

    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;

    padding: 30px;
    margin: 80px auto;
}

.txt{
    display: none;
}
    
}


//Fullscreen

@media (min-width: 850px) {
    .drop-nav-btn{
        display: none;
    }

    .fullscreen-navbar{
        display: flex;
        position: absolute;
        top: 15px;
        right: 80px;
    }

    .logo{
        position:absolute;
        top:30px;
        left:80px;
    }
    

    .fullscreen-navbar li{
        margin-left: 80px;
        list-style:none;
    }
    .fullscreen-navbar li a{
        text-decoration: none;
        font-size: 1.5rem;

        color: white;
    }

    .fullscreen-navbar li a:hover{
        text-decoration: none;
        font-size: 1.5rem;

        color: greenyellow;
    }
}

